*,
::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: "Cinzel", serif;
  font-size: 62.5%;
}

h1,
p {
  font-family: "Cinzel", serif;
}

body {
  min-height: 100svh;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

li {
  list-style: none;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  min-width: 100%;
}

.topside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.topside__text {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
  place-content: center;
  padding: 10px;
}
.topside__text p {
  font-size: 1.1rem;
  font-weight: bold;
}
.topside__logo {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  place-content: center;
}
.topside__logo img {
  min-width: 250px;
  height: 250px;
}
.topside__portfoliosender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 2/3;
  grid-row: 3/4;
}
.topside__portfoliosender a {
  color: black;
}
.topside__portfoliosender .blackline {
  margin-top: 20px;
  width: 20%;
  height: 2px;
  background-color: black;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.topside__portfoliosender:hover .blackline {
  width: 75%;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
@media (min-width: 1200px) {
  body {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .topside {
    margin-top: -75px;
  }
  .topside p {
    font-size: 2rem;
  }
  .topside img {
    width: 350px;
    height: 350px;
  }
  .topside__portfoliosender {
    font-size: 2rem;
    cursor: pointer;
  }
  .topside__portfoliosender .blackline {
    margin-top: 30px;
  }
  .topside__portfoliosender:hover .blackline {
    width: 80%;
  }
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100vw;
    height: 65px;
    -webkit-box-shadow: -5px -5px 10px black;
            box-shadow: -5px -5px 10px black;
  }
}/*# sourceMappingURL=style.css.map */