@use './mixins.scss' as *;
*,
::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	// color-scheme: dark light;
	font-family: 'Cinzel', serif;
	font-size: 62.5%;
}
h1,
p {
	font-family: 'Cinzel', serif;
}

body {
	min-height: 100svh;
	font-size: 1.6rem;
	// overflow-y: hidden;
	// 	overflow-x: auto;

	// overflow-x: auto;
	scroll-behavior: smooth;
}
li {
	list-style: none;
	letter-spacing: 5px;
}
a {
	text-decoration: none;
}

img,
picture,
svg,
video {
	display: block;
	min-width: 100%;
}

//open side Mobile first

.topside {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&__text,
	&__logo,
	&__portfoliosender {
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			font-size: 1.8rem;
			font-weight: bold;
		}
	}

	&__logo {
		img {
			min-width: 250px;
			height: 250px;
		}
	}
	&__portfoliosender {
		flex-direction: column;
		a {
			color: black;
		}

		.blackline {
			margin-top: 20px;
			width: 20%;
			height: 2px;
			background-color: black;
			transition: width 0.3s linear;
		}
	}
	&__portfoliosender:hover {
		.blackline {
			width: 45%;
		}
	}
}

// NAVIGACJA
// BURGER BTN

.burger-btn {
	position: fixed;
	max-height: 100svh;
	top: 20px;
	right: 20px;
	padding: 0.5em;
	background: #000000b0;
	border: 1px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	z-index: 1000;
	overflow-y: hidden;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
		// background-color: #be9c51;
		background-color: white;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

// Nav

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
	width: 100%;
	transform: translateX(100%);
	background-color: #2f5f56;
	background-image: darkgreen;
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0em;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: #be9c51;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0.1);
			background-color: white;
			content: '';
			transition: transform 0.3s linear;
		}
		&:hover::before {
			transform: scaleY(0.8);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}
.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// Strona ABOUTME
.aboutme-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 25px 0 25px 0;
		font-weight: bold;
	}
	h1::after {
		content: '';
		width: 15%;
		height: 2px;
		background-color: black;
	}

	&__selfpictures,
	&__description {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__selfpictures {
		margin-top: 15px;
		padding: 0 10px;
		img {
			width: 90svw;
			border-radius: 8px;
		}
	}

	&__description {
		flex-direction: column;
		padding: 20px;
		letter-spacing: 0.05em;
		text-align: left;
		line-height: 1.6em;
		margin-bottom: 70px;

		.heading {
			margin: 20px 0 20px 0;
			font-size: 1.5rem;
			font-weight: bold;
		}
		span {
			font-weight: bold;
		}
		p {
			font-size: 1.4rem;
			margin-bottom: 16px;
		}
	}
}

.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 50px;
	bottom: 0;
	background-color: #fff;
	box-shadow: 5px 5px 20px black;

	&__copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 1 / 2;
		gap: 10px;
	}

	&__social-media {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 3/4;
		margin-right: 20px;
		color: #000;
	}

	&__social-media {
		gap: 25px;
		img {
			height: 15px;
			min-width: 20px;
		}
	}
}

//MediaQuery on Desktop


@media (min-width: 1200px) {
	body {
		// overflow-y: hidden;
		// overflow-x: auto;
	}
	.topside {
		p {
			font-size: 2rem;
		}

		img {
			width: 350px;
			height: 350px;
		}
		&__portfoliosender {
			font-size: 2rem;
			cursor: pointer;
			.blackline {
				margin-top: 30px;
			}
		}

		&__portfoliosender:hover {
			.blackline {
				width: 80%;
			}
		}
	}

	// NAVIGACJA DESKTOP
	.burger-btn {
		display: none;
	}

	.nav {
		display: flex;
		position: fixed;
		width: 100vw;
		height: 100px;
		transform: translateX(0);
		box-shadow: -5px -5px 10px black;
		background-color: transparent;
		top: 0;

		&__items {
			display: flex;
		}
		&__item {
			display: flex;
			color: #000;
			font-size: 1.8rem;
		}

		&__logo {
			position: absolute;
			top: 60px;
			left: 50px;
			img {
				width: 75px;
				height: 75px;
			}
		}
	}

	.aboutme-container {
		margin-top: 100px;
		flex-direction: row;

		h1 {
			display: none;
		}
		&__selfpictures {
			// margin-left: 300px;
			// margin-left: 100px;
			// margin-right: 50px;
			img {
				min-width: 90px;
				max-height: 70svh;
				width: 60vh;
				object-fit: cover;
				height: auto;
				vertical-align: middle;
				font-style: italic;
				background-repeat: no-repeat;
				background-size: cover;
				margin-top: 50px;
				shape-margin: 1rem;
				border-radius: 8px;
				box-shadow: 5px 5px 10px rgb(75, 72, 72);
			}
		}
		&__description {
			font-family: 'Gruppo', sans-serif;
			margin-right: 100px;
			// margin-top: 100px;
			.heading {
				font-size: 2.5rem;
				font-weight: bold;
			}

			p {
				letter-spacing: 4px;
			}
		}
	}
}
@media (min-width: 1800px) {

	.aboutme-container{
		
		&__selfpictures {
			// margin-left: 300px;
			// margin-right: 50px;
			margin-left:  350px;
			margin-bottom: 150px;
			
		
		}
		&__description {
			font-family: 'Gruppo', sans-serif;
			// margin-right: 100px;
			
			.heading {
				font-size: 2.5rem;
				font-weight: bold;
				// padding-top: 200px;
				// margin-top: 200px;
			}

			p {
				font-size: 1.4rem;
				letter-spacing: 3px;
				padding: 20px;
			}
		}
	}
	}
@media (max-width: 1200px) {
	.nav {
		&__logo {
			display: none;
		}
	}
}
